[submodule "NSBencodeSerialization"]
	path = NSBencodeSerialization
	url = https://github.com/Qata/NSBencodeSerialization.git
[submodule "SVWebViewController"]
	path = SVWebViewController
	url = https://github.com/TransitApp/SVWebViewController.git
[submodule "MGSwipeTableCell"]
	path = MGSwipeTableCell
	url = https://github.com/MortimerGoro/MGSwipeTableCell.git
