[submodule "NSBencodeSerialization"]
	path = NSBencodeSerialization
	url = git://github.com/Qata/NSBencodeSerialization
[submodule "SVWebViewController"]
	path = SVWebViewController
	url = git://github.com/samvermette/SVWebViewController
